<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>H1 Text</h1>
    <h2>H2 Text</h2>
    <h6>H6 Text</h6>
    <p>text pupupu pupupu <span style="color: darkgreen">Biabobabibaboba</span> pupupu text</p>
    <a href="https://playwright.dev/python/" target="_blank">Python</a>
    <img alt="browser.png" src="https://playwright.dev/python/img/logos/Browsers.png" style="width: 250px">
    <ul>
        <li>Item1</li>
        <li>Item2</li>
        <li>Item3</li>
    </ul>
    <ol>
        <li>Item1</li>
        <li>Item2</li>
        <li>Item3</li>
    </ol>
    <form action="/action" method="post">
        <input type="text" value="12345" placeholder="Input placeholder">
        <input required type="email" value="email" placeholder="Input placeholder">
        <input required type="password" value="password" placeholder="Input placeholder">
        <textarea placeholder="Textarea">12345</textarea>
        <button type="submit">Text</button>
    </form>
    <table>
        <thead>
            <tr>
                <td>Item1</td>
                <td>Item2</td>
                <td>Item3</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Row1</td>
                <td>Row2</td>
                <td>Row3</td>
            </tr>
            <tr>
                <td>Row1</td>
                <td>Row2</td>
                <td>Row3</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>